<h1>Twitter Clone App</h1>

<p>
  Hi <%= @user.name%>
</p>
<p>Your Password has been reset , pls click the link for confirmation</p>
<%= link_to "Password_reset" , edit_password_reset_url(@user.reset_token, email: @user.email)%>
<p>
This will be expire in five hours
</p>

<p>

</p>