<footer class="footer">
<small>
The <a href="https://github.com/MonteroRey/twitter_app">My github repo</a>
<a href="https://www.learnenough.com/courses?gclid=CjwKCAjwnZaVBhA6EiwAVVyv9Nqrr5PrzVnrcU-3awXFRw7w3DgSaKxjHZSqKnPnNe1AlmACTcB9_BoCpKEQAvD_BwE">inspire by Michael Hartle tutorial </a>
</small>
<nav>
<ul>
<li><%= link_to "About", '#' %></li>
<li><%= link_to "Contact", '#' %></li>
<li><a href="https://rubyonrails.org/">News</a></li>
</ul>
</nav>
</footer>
